@import "tailwindcss";

 ::-webkit-scrollbar{
    height: 10px !important;
    width: 10px !important;
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #f1f1;
    border-radius: 50px;
} 
